<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">🏦 Minsait Contatos</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            👥 Pessoas
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cadastrar-pessoa">📝 Cadastrar</a></li>
            <li><a class="dropdown-item" href="/editar-pessoa">✏️ Editar</a></li>
            <li><a class="dropdown-item" href="/listar-pessoa">📋 Listar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            ☎️ Contatos
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">📝 Cadastrar</a></li>
            <li><a class="dropdown-item" href="#">✏️ Editar</a></li>
            <li><a class="dropdown-item" href="#">📋 Listar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
