<div class="filtros">
  <input type="text" [(ngModel)]="filtroNome" placeholder="🔍 Filtrar por nome">
  <input type="text" [(ngModel)]="filtroId" placeholder="🔍 Filtrar por ID">
  <button class="btn-voltar" (click)="voltarPesquisa()">🔙 Voltar Pesquisa</button>
</div>

<div class="tabela-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>CEP</th>
        <th>Cidade</th>
        <th>UF</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoasFiltradas">
        <td>{{ pessoa.id }}</td>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.endereco }}</td>
        <td>{{ pessoa.cep }}</td>
        <td>{{ pessoa.cidade }}</td>
        <td>{{ pessoa.uf }}</td>
        <td class="acoes">
          <button class="btn-editar" (click)="editarPessoa(pessoa)">
            <i class="fa-solid fa-pen"></i> Editar
          </button>
          <button class="btn-excluir" (click)="excluirPessoa(pessoa.id)">
            <i class="fa-solid fa-trash"></i> Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
