div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-aplicar:hover {
  background-color: #007bff;
}

.btn-voltar {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
}

.btn-voltar:hover {
  background-color: #c82333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.596);
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: #007bff;
  color: white;
}

thead tr:hover {
  background-color: #007bff;
}

th, td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

.btn-editar {
  background-color: #48ff006b;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-editar:hover {
  background-color: #0056b3;
}

.btn-excluir {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-excluir:hover {
  background-color: #c82333;
}
