.welcome-card {
  background-color: #333333;
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 40px auto;
  transition: 0.3s;
}

.welcome-card h1 {
  color: #00bcd4;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-card p {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  max-width: 90%;
  margin: 0 auto;
}

.welcome-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}
